.bs-table{
    .react-bs-table-bordered{
    .react-bs-container-header{
        font-size: 11px; /* table header font size*/	}
    .react-bs-container-body{
        font-size: 9px; /* table rows font size*/
		}
	}
}
